$body-color: #a2a8d3;
$container-color:  #38598b;
$hue: 14;

$first-color: hsl($hue, 91%, 54%);
$first-color-alt: hsl($hue, 91%, 50%);
$title-color: hsl($hue, 4%, 100%);
$text-color: hsl($hue, 4%, 85%);
$text-color-light: hsl($hue, 4%, 55%);
