$body-color: #18181c;
$container-color: #54546b;
$hue: 14;

$first-color: #494b91;
$first-color-alt: hsl($hue, 91%, 50%);
$title-color: hsl($hue, 4%, 100%);
$text-color: #b7b7bd;
$text-color-light: hsl($hue, 4%, 55%);
