$body-color: #f9f8eb;
$container-color: #ffe1b6;
$hue: 14;

$first-color: #7a9eb1;
$first-color-alt: hsl($hue, 91%, 50%);
$title-color: #415865;
$text-color: #415865;
$text-color-light: hsl($hue, 4%, 55%);
