/* For small devices */
@media screen and (max-width: 320px) {
  .myContainer {
    margin-left: $mb-1;
    margin-right: $mb-1;
  }


  .home-img {
    height: 200px;
  }

  .home-buttons {
    flex-direction: column;
    width: max-content;
    row-gap: 1rem;
  }

  .category-container,
  .trick-container {
    grid-template-columns: .8fr;
    justify-content: center;
  }

  .miniGames-button {
    margin-top: 0;
  }
}



@media screen and (max-width: 576px){
  .changeLog-data {
    padding: 2rem;
  }

}

/* For medium devices */
@media screen and (min-width: 576px) {
  body{
    margin: 0;
  }
  .about-container{
    grid-template-columns: .8fr;
    justify-content: center;
  }

  .newsletter-container{
    display: grid;
    grid-template-columns: .7fr;
    justify-content: center;
  }

  .newsletter-description{
    padding: 0 3rem;
  }
}

.miniGames-img-container {
  text-align: center;
}

.miniGames-data-img {
  width: 350px;
}



@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .section{
    padding: 7rem 0 2rem;
  }

  .nav{
    height: calc( 3.5rem + 1.5rem);
  }

  .nav-img,
  .nav-close,
  .nav-toggle{
    display: none;
  }

  .nav-list{
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav-link{
    text-transform: initial;
    font-weight: initial;
  }

  .home-content{
    padding: 8rem 0 2rem;
    grid-template-columns: repeat(2 , 1fr);
    gap: 4rem;
  }

  .home-img{
    height: 300px;
  }

  .category-container{
    grid-template-columns: repeat(3,200px);
    justify-content: center;
  }


  .about-container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about-title,
  .about-data{
    text-align: initial;
  }

  .about-img{
    width: 250px;
  }

  .trick-container{
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    gap: 2rem;
  }

  .discount-container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;

    column-gap: 3rem;
    padding: 3rem 0;
    border-radius: 3rem;
  }

  .discount-img
  {
    width: 350px;
    order: -1;
  }

  .discount-data{
    padding-right: 6rem;
  }

  .newsletter-container{
    grid-template-columns: .5fr;
  }

  .footer-container{
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    column-gap: 1rem;
  }

  .footer-img-two{
    right: initial;
    bottom: 0;
    left: 15%;
  }
}


/* For large devices */
@media screen and (min-width: 992px){
  .myContainer{
    margin-left: auto;
    margin-right: auto;
  }

  .section-title{
    font-size: $h1-font-size;
    margin-bottom: 3rem;
  }

  .home-content{
    padding-top: 9rem;
    gap: 3rem;
  }

  .home-group{
    padding-top: 0;
  }

  .home-img{
    height: 400px;
    transform: translateY(-3rem);
  }

  .home-indicator{
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }

  .home-indicator::after{
    top: 0;
    height: 75px;
  }

  .home-details-img{
    bottom: 0;
    right: 58%;
  }

  .home-title{
    margin-bottom: $mb-1-5;
  }

  .home-description{
    margin-bottom: $mb-2-5;
    padding-right: 2rem;
  }

  .category-container{
    column-gap: 8rem;
  }

  .category-img{
    width: 200px;
  }

  .about-container{
    column-gap: 7rem;
  }

  .about-img{
    width: 350px;
  }

  .about-description{
    padding-right: 2rem;
  }

  .trick-container{
    gap: 3.5rem;
  }

  .trick-content{
    border-radius: 1.5rem;
  }

  .trick-img{
    width: 110px;
  }

  .trick-title{
    font-size: $h3-font-size;
  }

  .discount-container{
    column-gap: 7rem;
  }

  .new-content{
    width: 310px;
    border-radius: 1rem;
    padding: 2rem 0;
  }

  .new-img{
    width: 150px;
  }

  .new-img,
  .new-subtitle{
    margin-bottom: $mb-1;
  }

  .new-title{
    font-size: $h3-font-size;
  }

  .footer-copy{
    margin-top: 6rem;
  }

  @media screen  and (min-width: 1200px){
    .home-img{
      height: 420px;
    }

    .footer-img-one{
      width: 120px;
    }

    .footer-img-two{
      width: 180px;
      top: 30%;
      left: -3%;
    }
  }
}
