.trick-container{
  grid-template-columns: repeat(2 , 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.trick-content{
  position: relative;
  background: $container-color;
  border-radius: 1rem;
  padding: 1.5rem 0 1rem 0;
  text-align: center;
  overflow: hidden;
}

.trick-img{
  width: 90px;
  transition: .3s;
}

.trick-subtitle,
.trick-price{
  display: block;
}

.trick-subtitle{
  font-size: $smaller-font-size;
  margin-bottom: $mb-0-5;
}

.trick-title,
.trick-price{
  color: $title-color;
  font-weight: $font-medium;
  font-size: $normal-font-size;
}

.trick-button{
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem .25rem .75rem .25rem;
  position: absolute;
  right: -3rem;
  bottom: 0;
}

.trick-icon{
  font-size: 1.25rem;
  color: $title-color;
}

.trick-content:hover .trick-img{
  transform: translateY(-.9rem);
}

.trick-content:hover .trick-button{
  right: 0;
}
